<%- include('../partials/header') %>

<form id="new-form" action="/books" method="POST">
  <br/></br>
  <label>Title:</label>
  <input type="text" name="title">
  <br/></br>
  <label>Published Year:</label>
  <input type="text" name="publishedYear">
  <br/></br>
  <label>Genre:</label>
  <input type="text" name="genre">
  <br/></br>
  <input type="submit" value="Add Book">
</form>

<%- include('../partials/footer') %>
